body{
  display: flex;
  flex-direction: column;
  color: #3a3431;
  background-color: #fff;
  min-height: 100vh;
  font-size: 16px;
}

img{
  max-width: 65%;
  padding: 0.1em;
}

form{
  width: 50vw;
}

form > input{
  color: #000;
  background: #fff;
}

.img-logo{
  max-height: 2em;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00c4a6;
  border-bottom-left-radius: 400px;
  border-bottom-right-radius: 400px;
  padding: 1rem 1.5rem;
  margin: auto auto 2em auto;
  max-width: 900px;
  width: 100%;
}

.header a{
  display: flex;
  align-items: center;
  font-size: 2.5em;
  color: #fbfbfb;
}

.content, .block{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em;
}

.content{
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  flex: 1;
  max-width: 950px;
}

.content section{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.content section > div{
  margin: 0.5em;
  max-width: 100vw;
  overflow-x: auto;
}

.error{
  color: red;
}

.index-main-text{
  font-size: 1.25em;
  text-align: center;
}

.footer{
  display: flex;
  justify-content: center;
  padding: 1.5rem;
}

.index-form{
  display: flex;
  margin: 3em 0;
  max-width: 500px;
}

ul.account-summary-list{
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0 0 1em 0;
  font-size: 1.5em;
}

ul.account-summary-list li{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0.5em;
  color: #3a3431;
}

ul.account-summary-list li span:first-child{
  color: #046193;
}

@media only screen and (max-width:500px){
  body{
    font-size: 12px;
  }
}
