<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" integrity="sha384-l9M6Adwf4b8uYw86eNILi6yzN7Zf4VoTPpB88nLLXbZ11ybFDaLcd/a2MU1EZXyK" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <title>profilator</title>
  </head>
  <body>
    <header class="header">
      <h1>
        <a href="/">
          <img src="{{ url_for('static', filename='img/logo.png') }}" class="img-logo">
          profilator
        </a>
      </h1>
    </header>
    <main class="content">
      <article class="block">
        <p class="index-main-text">
          Profilator lets you analyze your's or someone else's activity on Twitter. It's easy - just type chosen nickname to the form below.
        </p>
      </article>
      <form class="index-form" action="report">
        <input type="text" name="nickname" placeholder="AndrzejDuda" class="input is-primary" required>
        <input type="submit" value="&raquo;" class="button is-primary">
        Include:
        <label><input type="checkbox" name="tweets" class="inclusions" checked>Tweets</label>
        <label><input type="checkbox" name="replies" class="inclusions" checked>Replies</label>
        <label><input type="checkbox" name="retweets" class="inclusions">Retweets</label>
        <label><input type="checkbox" name="links">Cut out links inside tweets</label>
      </form>
      {% if error %}
        <aside class="error">
          <p>{{ error }}</p>
        </aside>
      {% endif %}
      <article class="block">
        <p class="index-main-text">
          If you don't have an idea what nickname to choose here are some possible choices:
            <ul class="proposed-nicknames">
              <li><a href="#" onclick="javascript:fill_input('AndrzejDuda')">AndrzejDuda</a></li>
              <li><a href="#" onclick="javascript:fill_input('realDonaldTrump')">realDonaldTrump</a></li>
              <li><a href="#" onclick="javascript:fill_input('Piechocinski')">Piechocinski</a></li>
              <li><a href="#" onclick="javascript:fill_input('Imaginedragons')">Imaginedragons</a></li>
              <li><a href="#" onclick="javascript:fill_input('Pontifex')">Pontifex</a></li>
            </ul>
        </p>
      </article>
      <article class="block">
        <img src="{{ url_for('static', filename='img/1.png') }}">
        <img src="{{ url_for('static', filename='img/1.png') }}">
      </article>
    </main>
    <footer class="footer">
      &copy; 2019
    </footer>
    <script rel="javascript" src="{{ url_for('static', filename='js/proposed_nicknames.js') }}"></script>
  </body>
</html>
