<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" integrity="sha384-l9M6Adwf4b8uYw86eNILi6yzN7Zf4VoTPpB88nLLXbZ11ybFDaLcd/a2MU1EZXyK" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    {{ css_resources|indent(4)|safe }}
    {{ js_resources|indent(4)|safe }}
    {{ replies_script|indent(4)|safe }}
    {{ favorites_script|indent(4)|safe }}
    {{ posts_in_days_script|indent(4)|safe }}
    <title>profilator</title>
  </head>
  <body>
    <header class="header">
      <h1>
        <a href="/">
          <img src="{{ url_for('static', filename="img/logo.png") }}" class="img-logo">
          profilator
        </a>
      </h1>
    </header>
    <main class="content">
      <h1>@{{ nickname }}</h1>
      <ul class="account-summary-list">
        <li>
          <span>{{ tweets }}</span>
          <span>Tweets</span>
        </li>
        <li>
          <span>{{ following }}</span>
          <span>Following</span>
        </li>
        <li>
          <span>{{ followers }}</span>
          <span>Followers</span>
        </li>
        <li>
          <span>{{ likes }}</span>
          <span>Likes</span>
        </li>
      </ul>
      <section>
        {{ favorites_div|indent(4)|safe }}
        {{ posts_in_days_div|indent(4)|safe }}
        {{ replies_div|indent(4)|safe }}
      </section>
    </main>
    <footer class="footer">
      &copy; 2019
    </footer>
  </body>
</html>
