<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" integrity="sha384-l9M6Adwf4b8uYw86eNILi6yzN7Zf4VoTPpB88nLLXbZ11ybFDaLcd/a2MU1EZXyK" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    {{ css_resources|indent(4)|safe }}
    {{ js_resources|indent(4)|safe }}
    {{ replies_script|indent(4)|safe }}
    {{ favorites_script|indent(4)|safe }}
    {{ posts_in_days_script|indent(4)|safe }}
    {{ length_script|indent(4)|safe }}
    {{ posts_in_hours_script|indent(4)|safe }}
    {{ tfidf_script|indent(4)|safe }}
    <title>profilator</title>
  </head>
  <body>
    <header class="header">
      <h1>
        <a href="/">
          <img src="{{ url_for('static', filename='img/logo.png') }}" class="img-logo">
          profilator
        </a>
      </h1>
    </header>
    <main class="content">
      <h1>@{{ nickname }}</h1>
      <ul class="account-summary-list">
        <li>
          <span class="tooltip">
            <span class="summary-number">{{ tweets }}</span>
            <span class="tooltiptext">{{ tweets_tooltip }}</span>
          </span>
          <span>Tweets</span>
        </li>
        <li>
          <span class="tooltip">
            <span class="summary-number">{{ following }}</span>
            <span class="tooltiptext">{{ following_tooltip }}</span>
          </span>
          <span>Following</span>
        </li>
        <li>
          <span class="tooltip">
            <span class="summary-number">{{ followers }}</span>
            <span class="tooltiptext">{{ followers_tooltip }}</span>
          </span>
          <span>Followers</span>
        </li>
        <li>
          <span class="tooltip">
            <span class="summary-number">{{ likes }}</span>
            <span class="tooltiptext">{{ likes_tooltip }}</span>
          </span>
          <span>Likes</span>
        </li>
		    <li>
          <span class="tooltip">
            <span class="summary-number">{{ posts }}</span>
          </span>
          <span>Scanned Posts</span>
        </li>
		 <li>
          <span class="tooltip">
            <span class="summary-number">{{ date_interval }}</span>
          </span>
          <span>Posts Date Interval</span>
        </li>
      </ul>
      <form class="index-form" action="report">
        <div>
          <input type="text" name="nickname" value="{{ nickname }}" class="input is-primary" required>
          <input type="submit" value="&raquo;" class="button is-primary">
        </div>
        Include:
        <label><input type="checkbox" name="tweets" class="inclusions" {% if tweets_checked %}checked{% endif %}>Tweets</label>
        <label><input type="checkbox" name="replies" class="inclusions" {% if replies_checked %}checked{% endif %}>Replies</label>
        <label><input type="checkbox" name="retweets" class="inclusions" {% if retweets_checked %}checked{% endif %}>Retweets</label>
        <label><input type="checkbox" name="links" {% if links_checked %}checked{% endif %}>Cut out links inside tweets</label>
      </form>
      <section>
        {{ favorites_div|indent(4)|safe }}
        {{ posts_in_days_div|indent(4)|safe }}
        {{ posts_in_hours_div|indent(4)|safe }}
        {{ replies_div|indent(4)|safe }}
        {{ length_div|indent(4)|safe }}
        {{ tfidf_div|indent(4)|safe }}
        <img src="{{ url_for('static', filename=pid) }}">
      </section>
    </main>
    <footer class="footer">
      &copy; 2019
    </footer>
  </body>
</html>
